# Database
database/storage/*
!database/storage/.keep

# App
app/app/database_info.php
app/app/public/app/*
app/app/public/app/.*
app/app/public/swagger/*
app/app/public/swagger/.*
!app/app/public/app/.keep
!app/app/public/swagger/.keep
